doctype html
html
  head
    title Mock Data
  body
    h1 Mock Data
    form(action="/add" method="POST")
      input(type="text" name="name" placeholder="Name")
      input(type="text" name="age" placeholder="Age")
      button(type="submit") Add
    table
      thead
        tr
          th Name
          th Age
          th Action
      tbody
        each person in people
          tr
            td= person.name
            td= person.age
            td
              a(href='/edit/' + person.id) Edit
              a(href='/delete/' + person.id) Delete